<div class="animate-fade-in flex h-full w-full items-center justify-center bg-[#161616]/68">
  <svg
    class="animate-ban-icon"
    xmlns="http://www.w3.org/2000/svg"
    width="140"
    height="140"
    viewBox="0 0 140 140"
  >
    <g id="ban_cross" data-name="ban_cross" transform="translate(-260 -790)">
      <g
        id="circle"
        data-name="circle"
        transform="translate(260 790)"
        fill="none"
        stroke="#ba4141"
        stroke-width="10"
      >
        <circle cx="70" cy="70" r="70" stroke="none" />
        <circle cx="70" cy="70" r="65" fill="none" />
      </g>
      <line
        id="line"
        data-name="line"
        y1="94"
        x2="81"
        transform="translate(289.43 813)"
        fill="none"
        stroke="#ba4141"
        stroke-width="10"
      />
    </g>
  </svg>
</div>
