<div
  class="relative h-full w-full overflow-hidden rounded-[5px] border-2 border-[#212327] bg-black/40 [contain:layout_style_paint]"
  [class.reveal]="reveal()"
>
  <img
    class="absolute top-30 left-0 h-full w-full scale-260 object-cover"
    src="assets/agent-portraits/{{ agent() }}Portrait.webp"
  />
  <img
    class="absolute top-3 z-2 size-4"
    [class.left-3]="!down()"
    [class.right-3]="down()"
    src="assets/roles/{{ getAgentRole(agent()) }}.webp"
  />
  <div
    class="absolute bottom-0 left-1/2 h-6/10 w-full -translate-x-1/2 bg-gradient-to-t from-[#0D131D] to-transparent"
  ></div>
  <div
    class="edge-fade-overlay absolute inset-0 rounded-[5px] opacity-0"
    [class.edge-fade-overlay-unlocked]="!locked()"
    [class.animate-unlocked]="!locked()"
  ></div>
  <div
    class="edge-fade-overlay absolute inset-0 rounded-[5px] opacity-0"
    [class.animate-lock-attacker]="showLockPulse() && color() === 'attacker'"
    [class.animate-lock-defender]="showLockPulse() && color() === 'defender'"
    (animationend)="onLockPulseAnimationEnd()"
  ></div>
  <div
    class="bottom-fade-overlay absolute inset-x-0 bottom-0 h-1/2 rounded-b-[5px] opacity-0"
    [class.bottom-fade-overlay-unlocked]="!locked()"
    [class.animate-unlocked]="!locked()"
  ></div>
  <div
    class="bottom-fade-overlay absolute inset-x-0 bottom-0 h-1/2 rounded-b-[5px] opacity-0"
    [class.animate-lock-bottom-attacker]="showLockPulse() && color() === 'attacker'"
    [class.animate-lock-bottom-defender]="showLockPulse() && color() === 'defender'"
    (animationend)="onLockPulseAnimationEnd()"
  ></div>
  <div
    class="font-dinnext-medium absolute bottom-3.5 flex w-34 max-w-full flex-col gap-1"
    [class.left-2]="!down()"
    [class.right-2]="down()"
    [class.text-left]="!down()"
    [class.text-right]="down()"
  >
    <span
      class="text-lg leading-none [overflow-wrap:anywhere] whitespace-normal text-[#D9CD8F] uppercase"
      >{{ playerName() }}</span
    >
    <span
      class="text-[1.0625rem] leading-none whitespace-normal uppercase"
      [class]="locked() ? 'text-white' : 'text-gray-400'"
      >{{ getAgentName(agent()) }}</span
    >
  </div>
  <div
    class="absolute bottom-0 left-1/2 z-10 h-1.5 w-full -translate-x-1/2 rounded-b-xs"
    [class.down]="down()"
    [class.bg-agentselect-player-attacker]="color() === 'attacker'"
    [class.bg-agentselect-player-defender]="color() === 'defender'"
  ></div>
  <div
    class="absolute left-1/2 size-60 -translate-x-1/2"
    [class.bg-agentselect-player-attacker]="color() === 'attacker'"
    [class.bg-agentselect-player-defender]="color() === 'defender'"
    [class.coverAnimation]="coverAnimation()"
  ></div>
</div>
