<div class="relative h-full w-75 overflow-hidden">
  <svg class="absolute h-0 w-0" aria-hidden="true">
    <defs>
      <filter id="ban-grayscale">
        <feColorMatrix type="saturate" values="0" />
      </filter>
    </defs>
  </svg>
  <img
    [src]="'assets/maps/wide/' + mapName + '.webp'"
    class="h-full w-full scale-200 object-contain"
    style="filter: url(#ban-grayscale)"
  />
  <div
    class="absolute top-0 left-0 z-0 h-full w-full bg-gradient-to-b from-red-500/50 to-transparent"
  ></div>
  <div
    class="absolute top-1/2 left-4 z-1 flex -translate-y-1/2 flex-col gap-1 text-white uppercase"
  >
    <span class="font-replica text-2xl">{{ tricode }} BAN</span>
    <span class="font-foundry-extrabold text-3xl">{{ mapName }}</span>
  </div>
</div>
