<app-round-number class="pos-x-center pos-y-3 z-10"></app-round-number>
<app-spike-icon class="pos-x-center z-3"></app-spike-icon>

<app-topscore-new class="pos-x-center pos-y-10"></app-topscore-new>
@if (dataModel.seriesInfo().needed > 1) {
  <app-mapwins class="pos-x-center pos-y-70"></app-mapwins>
}

<app-mapinfo-new class="pos-x-4 absolute"></app-mapinfo-new>

<app-watermark class="pos-x-1360 absolute"></app-watermark>
<app-sponsor-box class="pos-x-1680 absolute"></app-sponsor-box>

<app-roundreasons-new class="pos-x-center pos-y-620 absolute"></app-roundreasons-new>
<app-scoreboard-new class="pos-x-center pos-y-550 absolute"></app-scoreboard-new>

<app-combat-tracker class="pos-x-center pos-b-25 absolute"></app-combat-tracker>
<app-playercams-new class="pos-x-476 pos-b-320 absolute"></app-playercams-new>

<app-1v1></app-1v1>

<app-endround-new class="pos-x-center pos-y-200 absolute"></app-endround-new>
<app-timeout-new class="pos-x-center pos-y-250 absolute"></app-timeout-new>

<app-live-toast class="pos-y-450 pos-x-center absolute"></app-live-toast>
